{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<h2>Login</h2>
{% if form.errors and not form.non_field_errors %}
    <div style="background: #fff; border-radius: 0.5rem; padding: 1em; margin-bottom: 1em; color: #dc3545; font-weight: bold;">
        Please enter a correct username and password. Note that both fields may be case-sensitive
    </div>
{% endif %}
{% if form.non_field_errors %}
    <div style="background: #fff; border-radius: 0.5rem; padding: 1em; margin-bottom: 1em; color: #dc3545; font-weight: bold;">
        {{ form.non_field_errors.0 }}
    </div>
{% endif %}
<form method="post">
        {% csrf_token %}
        {% load django_bootstrap5 %}
        <div class="mb-3">
            <label for="id_username" class="form-label">Username</label>
            <input type="text" name="username" class="form-control" id="id_username" required autofocus value="{{ form.username.value|default_if_none:'' }}">
        </div>
        <div class="mb-3">
            <label for="id_password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control" id="id_password" required>
        </div>
        <button class="btn btn-primary" type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
</form>
{% endblock %}