{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="welcome-box">
    <h2>Create an account</h2>
    <form method="post">
        {% csrf_token %}
        {% bootstrap_form form exclude='accept_rules' %}
        <div class="form-check mb-3">
            {{ form.accept_rules }}
            <label for="id_accept_rules" class="form-check-label">I confirm that I have read and accept the <a href="{% url 'rules' %}" target="_blank">rules of the challenge</a></label>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
{% endblock %}
