{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}Manage Lookups{% endblock %}
{% block content %}
<h2>Lookup tables administration</h2>
<div class="lookup-instructions">
  <p>Only superusers can view and edit these values. Add new rows by filling the
  "extra" blank entry at the end; delete by checking the box at the left of each
  row.</p>
</div>

<form method="post">
    {% csrf_token %}

    <h3>Species</h3>
    {{ species_fs.management_form }}
    {% for form in species_fs %}
        <div class="mb-3">
            {% bootstrap_form form %}
        </div>
    {% endfor %}

    <h3>Venues</h3>
    {{ venue_fs.management_form }}
    {% for form in venue_fs %}
        <div class="mb-3">
            {% bootstrap_form form %}
        </div>
    {% endfor %}

    <h3>Methods</h3>
    {{ method_fs.management_form }}
    {% for form in method_fs %}
        <div class="mb-3">
            {% bootstrap_form form %}
        </div>
    {% endfor %}

    <h3>Bait</h3>
    {{ bait_fs.management_form }}
    {% for form in bait_fs %}
        <div class="mb-3">
            {% bootstrap_form form %}
        </div>
    {% endfor %}

    <button class="btn btn-primary" type="submit">Save changes</button>
</form>

{% endblock %}
